<mdb-navbar SideClass="navbar navbar-dark indigo">
    <mdb-navbar-brand >
        <div class="float-right">
            <a class="navbar-brand icons-xlg git-ic" target="_blank" href="https://github.com/ShubhamWanne">
                <i class="fa fa-github"></i> GITHUB
            </a>
        </div>
    </mdb-navbar-brand> 
</mdb-navbar>
<br/><br/>
<div class="row text-center flex-center">       
    <div class="col"></div>
    <div class="col sm-4">
        <h1 class="display-2">{{title}}</h1>
        <p class="h3">GitHub Profile Finder</p>
    </div>
    <div class="col"></div>
</div>
<br/>
<br/>
<app-operation></app-operation>